
        {% extends "base.html" %}
        {%load static %}

        {% block content %}
        <!-- Breadcrumb-->
        <div class="bg-light py-2">
          <div class="container">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0 bg-light">
                      <li class="breadcrumb-item">
                          <a class="reset-anchor" href="/">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Support / FAQ</li>
                  </ol>
              </nav>
          </div>
      </div>

                  <section class="pb-5">
                      <div class="container py-5">
                          <div class="row">
                              <!-- Shop sidebar-->
                              <div class="col-xl-3 col-lg-3 order-2 order-lg-1">
                                  <h5 class="mb-4">Support by Category</h5>
                                  <ul class="list-unstyled text-muted mb-5">
                                      <li class="mb-2 d-flex align-items-center justify-content-between">
                                          <a class="reset-anchor" href="/support/notic">공지사항</a>
                                          <span class="badge bg-light text-dark"></span></li>
                                      <li class="mb-2 d-flex align-items-center justify-content-between">
                                          <a class="reset-anchor" href="/support/faq">FAQ</a>
                                          <span class="badge bg-light text-dark"></span></li>
                                      
                                  </ul>
                              </div>
                              <!-- Shop listing-->
                              <div class="col-xl-9 col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                                  <!-- Listing filter-->
                                  <div class="row mb-4 pb-3 align-items-center">
                                      <div class="col-md-6 text-center text-md-start">
                                          <p class="small text-muted">Showing
                                              <strong class="text-dark">{{page_obj.number}}
                                              </strong>of
                                              <strong class="text-dark">{{page_obj.paginator.num_pages}}
                                              </strong>pages</p>
                                      </div><br><br>
                                      
                                  <div class="row">
                                      
                                     
                                      <!-- Product-->
                                      <div class="col-xl-12 col-lg-12 col-12">
                                          <div class="product mb-4">
                                              <div class="col-12">
                                                  <div class="col-12">
                                                      {% if q %}
                                                      <p style="color: gray; font-weight: 550;"><i class="fas fa-search"></i>&nbsp;'{{ q }}' 검색 결과입니다.</p><br>
                                                      {% endif %}
                                                  </div>
                                              </div>
                                              <table class = "table table-hover ">
                                                      <thead class="table-light">
                                                          <tr>
                                                              <th class="p-3 border-0" scope="col"><strong class="text-uppercase">#</strong></th>
                                                              <th class="p-3 border-0" scope="col"><strong class="text-uppercase">제목</strong></th>
                                                              <th class="p-3 border-0" scope="col"><strong class="text-uppercase">작성자</strong></th>
                                                              <th class="p-3 border-0" scope="col"><strong class="text-uppercase">날짜</strong></th>
                                                              <th class="p-3 border-0" scope="col"><strong class="text-uppercase">조회수</strong></th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          {% if faq_list %}
                                                          {% for faq in faq_list %}
                                                          <tr class="text-left" onclick="location.href='/support/faq/{{ faq.id }}/'">
                                                          <td class="p-3 align-middle border-0">
                                                              <p class="mb-0 small">{{ faq.id }}</p>
                                                            </td>
                                                      
                                                            <th class="p-3 align-middle border-0" scope="row">
                                                              <p class="mb-0 small">{{ faq.title }}</p>
                                                          
                                                          </th>
                                                      
                                                            <td class="p-3 align-middle border-0">
                                                              <p class="mb-0 small">{{ faq.writer }}</p>
                                                            </td>
                                                      
                                                            <td class="p-3 align-middle border-0">
                                                              <p class="mb-0 small">{{ faq.registered_date|date:'Y. m. d' }}</p>
                                                            </td>
                                                      
                                                            <td class="p-3 align-middle border-0">
                                                              <p class="mb-0 small">{{ faq.hits }}</p>
                                                            </td>
                                                          </tr>
                                                          {% endfor %}
                                                          {% else %}
                                                          {% if q %}
                                                          <tr class="text-center" style="height:150px">
                                                              <td style="font-weight: bold; color:gray; vertical-align: middle!important;" colspan="5">
                                                                  <i class="fas fa-info-circle"></i>&nbsp;일치하는 검색 결과가 없습니다.
                                                              </td>
                                                          </tr>
                                                          {% else %}
                                                              <tr class="text-center" style="height:150px">
                                                                  
                                                                  <td colspan="5" style="font-weight: bold; color:gray; vertical-align: middle!important;"  >
                                                                      <i class="fas fa-info-circle"></i>&nbsp;작성된 게시글이 없습니다.
                                                                  </td>
                                                              </tr>
                                                          {% endif %}
                                                      {% endif %}
                                                      </tbody>
                                                  </table>
                                              </table>
                                          </div>

          
                                      

                                      </div>  

                                      <nav>
                                          <div style="margin-top: 30px;">
                                              <form action="" method="GET">
                                                  <div class="col">
                                                      <div style="float: right;" class="form-row">
                                                          <div class="form-row">
                                                              <div class="col" style="margin-top: 10px;">
                                                                  <select style="width: 6em;" class="custom-select custom-select-md" name="type">
                                                                      <option value="all">전체</option>
                                                                      <option value="title">제목</option>
                                                                      <option value="content">내용</option>
                                                                  </select>
                                                              </div>
                                                              <div class="col" style="margin-top: 10px;">
                                                                  <input type="text" name="q" value="{{ q }}" class="form-control form-control-md"
                                                                      style="width: 15em;" placeholder="검색어를 입력해주세요.">
                                                              </div>
                                                              <!-- 
                                                              <div class="col">
                                                                  <button class="btn btn-md btn-outline-dark" type="submit">검색</button> 
                                                                  <button class="btn btn-sm" type="submit" id="search_btn"></button>
                                                              </div>
                                                              -->
                                                          </div>
                                                      </div>
                                                  </div>
                                              </form>
                                          </nav>
                                      
          
                                      <!-- Pagination-->
                                      <nav class="pt-5" aria-label="Page navigation">                                                
                                            {% if is_paginated %}
                                              <ul class="pagination justify-content-center justify-content-lg-end mb-0">
                                                  {% if page_obj.has_previous %}
                                                  <li class="page-item mx-1">
                                                      <a class="page-link py-1" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                                          <span aria-hidden="true">«</span></a>
                                                  </li>
                                                  {% else %}
                                                   
                                                  <li class="page-item mx-1">
                                                      <a class="page-link py-1" href="#" aria-label="Previous">
                                                          <span aria-hidden="true">«</span></a>
                                                  </li>
                                                   
                                                  {% endif %}


                                                  {% for page in page_range %}
                                                  {% if page == page_obj.number  %}
                                                  <li class="page-item mx-1 active">
                                                      <a class="page-link py-1" href="?type={{ type }}&q={{ q }}&page={{ page }}">{{page}}</a>
                                                  </li>
                                                  {% else %}
                                                  <li class="page-item mx-1 ">
                                                      <a class="page-link py-1" href="?type={{ type }}&q={{ q }}&page={{ page }}">{{page}}</a>
                                                  </li>

                                                  {% endif %}
                                                  {% endfor %}

                                                  
                                                  {% if page_obj.has_next %}
                                                  <li class="page-item mx-1">
                                                      <a class="page-link py-1" href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}" aria-label="Next">
                                                          <span aria-hidden="true">»</span></a>
                                                  </li>
                                                  {% else %}
                                                  <li class="page-item mx-1">
                                                      <a class="page-link py-1" href="#" aria-label="Next">
                                                          <span aria-hidden="ture">»</span></a>
                                                  </li>

                                                  {% endif %}
                                                  
                                          </ul>
                                          {% endif %}
                                                                                         
                                      </nav>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
        {% endblock %} 

 