<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>CNDI | ROHDE &amp; SCHWARZ</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">

        <link
            rel="stylesheet"
            href="{% static 'css/history.css' %}">
        <!-- Google fonts-->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&amp;display=swap">
        <!-- Swiper slider-->
        <link
            rel="stylesheet"
            href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
        <!-- Lightbox-->
        <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.css' %}">
        <!-- Choices.js-->
        <link
            rel="stylesheet"
            href="{% static 'vendor/choices.js/public/assets/styles/choices.css' %}">
        <!-- Nouislider-->
        <link
            rel="stylesheet"
            href="{% static 'vendor/nouislider/nouislider.min.css' %}">
        <!-- theme stylesheet-->
        <link
            rel="stylesheet"
            href="{% static 'css/style.default.71609fc8.css' %}"
            id="theme-stylesheet"><link id="new-stylesheet" rel="stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="{% static 'css/custom.0a822280.css' %}">
        <!-- Favicon-->
        <link rel="shortcut icon" href="{% static 'img/favicon.9f24e811.png' %}">

        
        <!-- Tweaks for older IEs-->
        <!--[if lt IE 9]> <script
        src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script
        src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
        <body>
            {% include 'blog/navbar.html' %}
            {% include 'notic/modal.html' %}

            <!-- Breadcrumb-->
            <div class="bg-light py-2">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 bg-light">
                            <li class="breadcrumb-item">
                                <a class="reset-anchor" href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Support / Notic</li>
                        </ol>
                    </nav>
                </div>
            </div>

                        <section class="pb-5">
                            <div class="container py-5">
                                <div class="row">
                                    <!-- Shop sidebar-->
                                    <div class="col-xl-3 col-lg-3 order-2 order-lg-1">
                                        <h5 class="mb-4">Support by Category</h5>
                                        <ul class="list-unstyled text-muted mb-5">
                                            <li class="mb-2 d-flex align-items-center justify-content-between">
                                                <a class="reset-anchor" href="/support/notic">공지사항</a>
                                                <span class="badge bg-light text-dark"></span></li>
                                            <li class="mb-2 d-flex align-items-center justify-content-between">
                                                <a class="reset-anchor" href="/support/faq">FAQ</a>
                                                <span class="badge bg-light text-dark"></span></li>
                                            
                                        </ul>
                                    </div>
                                    <!-- Shop listing-->
                                    <div class="col-xl-9 col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                                        <!-- Listing filter-->
                                        <div class="row mb-4 pb-3 align-items-center">
                                            <div class="col-md-6 text-center text-md-start">
                                                <p class="small text-muted">Showing
                                                    <strong class="text-dark">{{page_obj.number}}
                                                    </strong>of
                                                    <strong class="text-dark">{{page_obj.paginator.num_pages}}
                                                    </strong>pages</p>
                                            </div><br><br>
                                            
                                        <div class="row">
                                            
                                           
                                            <!-- Product-->
                                            <div class="col-xl-12 col-lg-12 col-6">
                                                <div class="product mb-4">

                                                    <div class="col-12">
                                                        <div class="col-12">
                                                            <h4 style="font-weight: bold;">공지사항</h4>
                                                            {% if q %}
                                                            <p style="color: gray; font-weight: 550;"><i class="fas fa-search"></i>&nbsp;'{{ q }}' 검색 결과입니다.</p><br>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div>    
                                                    <table class = "table table-hover ">
                                                        <thead class="table-light">
                                                            <tr>
                                                                <th class="p-3 border-0" scope="col"><strong class="text-uppercase">#</strong></th>
                                                                <th class="p-3 border-0" scope="col"><strong class="text-uppercase">제목</strong></th>
                                                                <th class="p-3 border-0" scope="col"><strong class="text-uppercase">작성자</strong></th>
                                                                <th class="p-3 border-0" scope="col"><strong class="text-uppercase">날짜</strong></th>
                                                                <th class="p-3 border-0" scope="col"><strong class="text-uppercase">조회수</strong></th>
                                                            </tr>
                                                        </thead>
                                                            <tbody>
                                                                {% if notic_list %}
                                                                {% for notic in notic_list %}
                                                                <tr class="text-left" onclick="location.href='/support/notic/{{ notic.id }}/'">
                                                                    <td class="p-3 align-middle border-0">
                                                                        <p class="mb-0 small">{{ notic.id }}</p>
                                                                      </td>
                                                                
                                                                      <th class="p-3 align-middle border-0" scope="row">
                                                                        <p class="mb-0 small">{{ notic.title }}</p>
                                                                    
                                                                    </th>
                                                                
                                                                      <td class="p-3 align-middle border-0">
                                                                        <p class="mb-0 small">{{ notic.writer }}</p>
                                                                      </td>
                                                                
                                                                      <td class="p-3 align-middle border-0">
                                                                        <p class="mb-0 small">{{ notic.registered_date|date:'Y. m. d' }}</p>
                                                                      </td>
                                                                
                                                                      <td class="p-3 align-middle border-0">
                                                                        <p class="mb-0 small">{{ notic.hits }}</p>
                                                                      </td>
                                                                    </tr>
                                                                {% endfor %}
                                                                {% else %}
                                                                {% if q %}
                                                                <tr class="text-center" style="height:150px">
                                                                    <td style="font-weight: bold; color:gray; vertical-align: middle!important;" colspan="5">
                                                                        <i class="fas fa-info-circle"></i>&nbsp;일치하는 검색 결과가 없습니다.
                                                                    </td>
                                                                </tr>
                                                                {% else %}
                                                                    <tr class="text-center" style="height:150px">
                                                                        
                                                                        <td colspan="5" style="font-weight: bold; color:gray; vertical-align: middle!important;"  >
                                                                            <i class="fas fa-info-circle"></i>&nbsp;작성된 게시글이 없습니다.
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </table>
                                                </div>

                                            
                                                    <div style="margin-top: 30px;">
                                                        <form action="" method="GET">
                                                            <div class="col">
                                                                <div style="float: right;" class="form-row">
                                                                    <div class="form-row">
                                                                        <div class="col" style="margin-top: 10px;">
                                                                            <select style="width: 6em;" class="custom-select custom-select-md" name="type">
                                                                                <option value="all">전체</option>
                                                                                <option value="title">제목</option>
                                                                                <option value="content">내용</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col" style="margin-top: 10px;">
                                                                            <input type="text" name="q" value="{{ q }}" class="form-control form-control-md"
                                                                                style="width: 15em;" placeholder="검색어를 입력해주세요.">
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <!-- Pagination-->
                                            <nav class="pt-5" aria-label="Page navigation">                                                
                                                {% if is_paginated %}
                                                  <ul class="pagination justify-content-center justify-content-lg-end mb-0">
                                                      {% if page_obj.has_previous %}
                                                      <li class="page-item mx-1">
                                                          <a class="page-link py-1" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                                              <span aria-hidden="true">«</span></a>
                                                      </li>
                                                      {% else %}
                                                       
                                                      <li class="page-item mx-1">
                                                          <a class="page-link py-1" href="#" aria-label="Previous">
                                                              <span aria-hidden="true">«</span></a>
                                                      </li>
                                                       
                                                      {% endif %}


                                                      {% for page in page_range %}
                                                      {% if page == page_obj.number  %}
                                                      <li class="page-item mx-1 active">
                                                          <a class="page-link py-1" href="?type={{ type }}&q={{ q }}&page={{ page }}">{{page}}</a>
                                                      </li>
                                                      {% else %}
                                                      <li class="page-item mx-1 ">
                                                          <a class="page-link py-1" href="?type={{ type }}&q={{ q }}&page={{ page }}">{{page}}</a>
                                                      </li>

                                                      {% endif %}
                                                      {% endfor %}

                                                      
                                                      {% if page_obj.has_next %}
                                                      <li class="page-item mx-1">
                                                          <a class="page-link py-1" href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}" aria-label="Next">
                                                              <span aria-hidden="true">»</span></a>
                                                      </li>
                                                      {% else %}
                                                      <li class="page-item mx-1">
                                                          <a class="page-link py-1" href="#" aria-label="Next">
                                                              <span aria-hidden="ture">»</span></a>
                                                      </li>

                                                      {% endif %}
                                                      
                                              </ul>
                                              {% endif %}
                                                                                             
                                          </nav>
                                                    </div>

                
                                            

                                            </div>  

                                            
                                            
                
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

            
            


        

                        {%include 'blog/footer.html'%}

                        <!-- JavaScript files-->
                        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
                        <script src="{% static 'vendor/swiper/swiper-bundle.min.js'%}"></script>
                        <script src="{% static 'vendor/glightbox/js/glightbox.js'%}"></script>
                        <script src="{% static 'vendor/choices.js/public/assets/scripts/choices.js'%}"></script>
                        <script src="{% static 'vendor/nouislider/nouislider.min.js'%}"></script>
                        <script src="{% static 'js/theme.b8c44118.js'%}"></script>
                        <script src="{% static 'js/js-cookie.55cdbe0d.js'%}"></script>
                        <script src="{% static 'js/demo.7c677988.js'%}"></script>

                        <script type="text/javascript">
                            target = window.location.search.split('&')[0].split('=')[1]
                            var type = document.getElementsByTagName('option')
                            for (var i = 0; i < 5; i++) {
                                if (type[i].value === target) {
                                    type[i].setAttribute('selected', 'selected')
                                }
                            }
                        </script>
                        
                        <script>
                            /* ==============================================
          CUSTOM SELECT
        ============================================== */
                            const selectSize = document.querySelector('[name="size"]');
                            const selectSizeChoices = new Choices(selectSize, {
                                placeholder: true,
                                searchEnabled: false,
                                itemSelectText: ''
                            });
                        </script>
                        <script>
                            // -------------------------------------------------------
                            // Inject SVG Sprite -   see more here
                            // https://css-tricks.com/ajaxing-svg-sprite/
                            // ------------------------------------------------------
                            function injectSvgSprite(path) {

                                var ajax = new XMLHttpRequest();
                                ajax.open("GET", path, true);
                                ajax.send();
                                ajax.onload = function (e) {
                                    var div = document.createElement("div");
                                    div.className = 'd-none';
                                    div.innerHTML = ajax.responseText;
                                    document
                                        .body
                                        .insertBefore(div, document.body.childNodes[0]);
                                }
                            }
                            // this is set to BootstrapTemple website as you cannot inject local SVG sprite
                            // (using only 'icons/orion-svg-sprite.c2a8f15b.svg' path) while using file://
                            // protocol pls don't forget to change to your domain :)
                            injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');
                        </script>

                        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
                        <script src="https://kit.fontawesome.com/a85203b725.js" crossorigin="anonymous"></script>    

                      

                </body>
            </html>