{%load static%}

<footer class="bg-dark">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-3 mb-md-0">
                <img
                    class="img-fluid mb-3"
                    src="{% static 'img/logo.png' %}"
                    alt="Patrol"
                    width="120">
                    <p class="text-muted">주식회사 씨앤디아이</p>
                    <p class="text-muted">경기도 시흥시 매화산단3길 58(매화동)</p>
                    <p class="text-muted">사업자번호: 130-86-05407</p>
                    
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fab fa-cc-visa text-gray"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-cc-mastercard text-gray"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-cc-discover text-gray"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-cc-paypal text-gray"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-cc-amex text-gray"></i>
                        </li>
                    </ul>
                </div>


                <div class="col-md-2 col-sm-12 mb-3 mb-md-0">
                    <h6 class="text-white">Menu</h6>
                    <ul class="list-unstyled text-muted mb-0">
                        <li class="mb-2">
                            <a class="reset-anchor" href="/about">About</a>
                        </li>
                        <li class="mb-2">
                            <a class="reset-anchor" href="/shop">Product</a>
                        </li>
                        <li class="mb-2">
                            <a class="reset-anchor" href="/support">Support</a>
                        </li>
                        <li class="mb-2">
                            <a class="reset-anchor" href="/contact">ConTact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-12 mb-3 mb-md-0">
                    <h6 class="text-white">Other Service</h6>
                    <ul class="list-unstyled text-muted mb-0">
                        <li class="mb-2">
                            <a class="reset-anchor" href="https://cndi.co.kr" target="_blank">CNDI</a>
                        </li>
                        <li class="mb-2">
                            <a class="reset-anchor" href="https://www.capstonemall.co.kr" target="_blank">캡스톤몰</a>
                        </li>

                    </ul>
                </div>

                
                <div class="col-md-4 col-sm-12 mb-3 mb-md-0">
                    <p class="lead mb-1 text-white">
                        
                        <h6 class="text-white"><a class="reset-anchor" href="tel:031-313-2246">Tel. 031 - 313 - 2246</a></h6>
                        <h6 class="text-white"><a class="reset-anchor">Fax. 031 - 313 - 2248</a></h6>
                        <h6 class="text-white"><a class="reset-anchor">평일. 오전9시 ~ 오후6시</a> </h6>
                    </p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="social-icon" href="https://www.youtube.com/channel/UCh6m3z3l09ZYlfZio2-KGtQ/featured" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a class="social-icon" href="https://blog.naver.com/cndiworld" target="_blank">
                                <i class="fa-solid fa-blog"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="border-top py-4" style="border-color: #1d1d1d !important">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="small text-muted mb-0">© 2022 <a href="https://cndi.co.kr">CNDI INC</a>. All rights reserved.</p>
                    </div>
                    <div class="col-lg-6 text-lg-end"></div>
                </div>
            </div>
        </div>
    </footer>