<!DOCTYPE html>
<html>
    {%load static%}
    <head>
        <title>CNDI | ROHDE &amp; SCHWARZ</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        <!-- Google fonts-->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&amp;display=swap">
        <!-- Swiper slider-->
        <link
            rel="stylesheet"
            href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
        <!-- Lightbox-->
        <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.css' %}">
        <!-- Choices.js-->
        <link
            rel="stylesheet"
            href="{% static 'vendor/choices.js/public/assets/styles/choices.css' %}">
        <!-- Nouislider-->
        <link
            rel="stylesheet"
            href="{% static 'vendor/nouislider/nouislider.min.css' %}">
        <!-- theme stylesheet-->
        <link
            rel="stylesheet"
            href="{% static 'css/style.default.71609fc8.css' %}"
            id="theme-stylesheet"><link id="new-stylesheet" rel="stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="{% static 'css/custom.0a822280.css' %}">
        <!-- Favicon-->
        <link rel="shortcut icon" href="{% static 'img/favicon.9f24e811.png' %}">

        <!-- Tweaks for older IEs-->
        <!--[if lt IE 9]> <script
        src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script
        src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

        

    </head>
    <body>
        {% include 'blog/symbol.html' %}
        {% include 'blog/navbar.html' %}
        {% include 'blog/modal.html' %}

    
        <!-- Hero slider-->
        <section>
            <div
                class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events"
                id="hero-slider">
                <div
                    class="swiper-wrapper"
                    style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                    <div
                        class="swiper-slide hero bg-center bg-cover d-flex align-items-center "
                        style="background: url({% static 'img/51007_01.jpg'%}); width: 1088px; height:880px;">
                        <div class="container">
                          <!--
                            <div class="row text-lg-center">
                                <div class="col-lg-8" >
                                    <p class="h6 text-uppercase text-muted mb-3">Summer 2020</p>
                                    <h1
                                        class="hero-heading line-height-sm mb-2 title"
                                        data-swiper-parallax="-200"
                                        style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">Fashion Collections</h1>
                                    <div class="row">
                                        <div class="col-lg-5 mx-auto">
                                            <p
                                                class="font-weight-light text-muted mb-4 mt-3 subtitle"
                                                data-swiper-parallax="-400"
                                                style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">Lorem
                                                ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                                incididunt.</p>
                                        </div>
                                    </div>
                                    <a
                                        class="btn btn-primary text"
                                        href="shop.html"
                                        data-swiper-parallax="-600"
                                        style="transform: translate3d(0px, 0px, 0px)">
                                        <i class="fas fa-shopping-bag me-2"></i>Shop now</a>
                                </div>
                                  -->
                            </div>
                        </div>
                    </div>
                    
                </div>
              
        </section>

        
        {% include 'blog/product.html' %}



        <section class="pb-5">
            <div class="container p-5 bg-light">
              <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">           
                  <h3><span class="text-primary">ROHDE &amp; SCHWARZ </span> Contact Us</h3>
                  <p class="text-small text-muted mb-0">더욱 자세한 제품 상담을 원하시면 제품문의 버튼을 눌러 문의 페이지로 이동 해주세요.</p>
                </div>
                <div class="col-lg-6">
                  <form action="#">
                    <div class="input-group">
                      <input class="form-control rounded-0" type="text" placeholder="Enter your email address" aria-label="Enter your email address" aria-describedby="button-addon2">
                      <button class="btn btn-primary" id="button-addon2" type="button">Subscribe</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>

          <section>
            <div class="container pb-5">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="d-flex align-items-center p-4 w-100">
                    <svg class="svg-icon text-primary">
                      <use xlink:href="#delivery-time-1"> </use>
                    </svg>
                    <div class="ms-3">
                      <h6 class="mb-1 text-uppercase">Free shipping </h6>
                      <p class="small text-muted mb-0">For all orders over $99</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="d-flex align-items-center p-4 w-100">
                    <svg class="svg-icon text-primary">
                      <use xlink:href="#pay-1"> </use>
                    </svg>
                    <div class="ms-3">
                      <h6 class="mb-1 text-uppercase">30 days return </h6>
                      <p class="small text-muted mb-0">If goods have problems</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="d-flex align-items-center p-4 w-100">
                    <svg class="svg-icon text-primary">
                      <use xlink:href="#credit-card-1"> </use>
                    </svg>
                    <div class="ms-3">
                      <h6 class="mb-1 text-uppercase">Secure payment </h6>
                      <p class="small text-muted mb-0">100% secure payment</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="d-flex align-items-center p-4 w-100">
                    <svg class="svg-icon text-primary">
                      <use xlink:href="#helpline-24h-1"> </use>
                    </svg>
                    <div class="ms-3">
                      <h6 class="mb-1 text-uppercase">24/7 support </h6>
                      <p class="small text-muted mb-0">Dedicated support</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

       

        {%include 'blog/footer.html'%}
        <!-- JavaScript files-->
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'vendor/swiper/swiper-bundle.min.js'%}"></script>
        <script src="{% static 'vendor/glightbox/js/glightbox.js'%}"></script>
        <script src="{% static 'vendor/choices.js/public/assets/scripts/choices.js'%}"></script>
        <script src="{% static 'vendor/nouislider/nouislider.min.js'%}"></script>
        <script src="{% static 'js/theme.b8c44118.js'%}"></script>
        <script src="{% static 'js/js-cookie.55cdbe0d.js'%}"></script>
        <script src="{% static 'js/demo.7c677988.js'%}"></script>
        <script>
            // -------------------------------------------------------
            // Inject SVG Sprite -   see more here
            // https://css-tricks.com/ajaxing-svg-sprite/
            // ------------------------------------------------------
            function injectSvgSprite(path) {

                var ajax = new XMLHttpRequest();
                ajax.open("GET", path, true);
                ajax.send();
                ajax.onload = function (e) {
                    var div = document.createElement("div");
                    div.className = 'd-none';
                    div.innerHTML = ajax.responseText;
                    document
                        .body
                        .insertBefore(div, document.body.childNodes[0]);
                }
            }
            // this is set to BootstrapTemple website as you cannot inject local SVG sprite
            // (using only 'icons/orion-svg-sprite.c2a8f15b.svg' path) while using file://
            // protocol pls don't forget to change to your domain :)
            injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');
        </script>
        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <!--
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous"> -->
        <script src="https://kit.fontawesome.com/a85203b725.js" crossorigin="anonymous"></script>    

    </body>
</html>