{%load static%}
<!-- NAVBAR-->
<nav
    class="navbar navbar-expand-lg navbar-light py-2 py-lg-4 bg-white shadow-sm">
    <div class="container">
        <!-- Navbar brand-->
        <a class="navbar-brand" href="/">
            <img src="{% static 'img/logo.png' %}" alt="Patrol online store" width="100"></a>
            <!-- Navbar toggler-->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar collapse-->
            <div
                class="collapse navbar-collapse d-lg-flex align-items-lg-center justify-content-lg-between"
                id="navbarSupportedContent">
                <!-- Navbar menu right-->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-lg-3">
                        <a class="nav-link text-uppercase active" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item me-lg-3">
                        <a class="nav-link text-uppercase" href="/about">about</a>
                    </li>
                    <li class="nav-item dropdown me-lg-3">
                        <a
                            class="nav-link text-uppercase dropdown-toggle"
                            id="navbarDropdown"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Product</a>
                        <ul class="dropdown-menu mt-3" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="/shop/osciiloscope">오실로스코프</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="shop.html">미터 &amp; 카운터</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="detail.html">직류 전원 공급장치</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="cart.html">신호 &amp; 스펙트럼 분석기</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="index.html">신호 발생기</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="shop.html">네트워크 분석기</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="detail.html">오디오 분석기</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="cart.html">EMC</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="cart.html">파워 센서</a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <!-- Navbar menu left-->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 flex-row">
                    <li class="nav-item dropdown me-lg-3">
                        <a
                            class="nav-link text-uppercase dropdown-toggle"
                            id="navbarDropdown"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">support</a>
                        <ul class="dropdown-menu mt-3" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="index.html">NOTIC</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="shop.html">Q&amp;A</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="detail.html">Contact</a>
                    </li>
                    <li class="nav-item">
                          </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>