{%load static %}
<section class="py-5">
    <div class="container py-5">
        <header class="mb-3 text-center">
            <h2 class="mb-0">Product</h2>
            <p class="text-muted">Type of product</p>
        </header>

        <div class="row">
            <!-- Product-->
            <div class="col-xl-3 col-lg-4 col-6 ">
                <div class="product mb-4">
                    <span class="badge rounded-0 bg-primary"></span>
                    <a href="shop/osciiloscope">
                        <img
                            class="img-fluid"
                            src="{%static 'img\products\index\osi.jpg'%}"
                            alt="Round grey hanging decor"></a>
                        <div class="cta shadow d-inline-block"></div>
                    </div>
                    <h6 class="text-center">
                        <a class="reset-anchor" href="shop/osciiloscope">Oscilloscope</a>
                    </h6>
                    <p class="text-center text-muted font-weight-bold mb-4">오실로스코프</p>
                </div>
                <!-- Product-->
                <div class="col-xl-3 col-lg-4 col-6">
                    <div class="product mb-4">
                        <span class="badge rounded-0 bg-"></span>
                        <a href="detail.html">
                            <img
                                class="img-fluid"
                                src="{% static 'img/products/index/mnc.jpg' %}"
                                alt="silver black round Ipod"></a>
                                <div class="cta shadow d-inline-block"></div>
                        </div>
                        <h6 class="text-center">
                            <a class="reset-anchor" href="detail.html">Meter &amp; Counter</a>
                        </h6>
                        <p class="text-center text-muted font-weight-bold mb-4">미터 및 카운터</p>
                    </div>
                    <!-- Product-->
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="product mb-4">
                            <span class="badge rounded-0 bg-info"></span>
                            <a href="detail.html">
                                <img
                                    class="img-fluid"
                                    src="{% static 'img/products/index/pow.jpg' %}"
                                    alt="White USB cable"></a>
                                    <div class="cta shadow d-inline-block"></div>
                            </div>
                            <h6 class="text-center">
                                <a class="reset-anchor" href="detail.html">Power Supply</a>
                            </h6>
                            <p class="text-center text-muted font-weight-bold mb-4">직류 전원 공급장치</p>
                        </div>
                        <!-- Product-->
                        <div class="col-xl-3 col-lg-4 col-6">
                            <div class="product mb-4">
                                <span class="badge rounded-0 bg-"></span>
                                <a href="detail.html">
                                    <img
                                        class="img-fluid"
                                        src="{% static 'img/products/index/sns.jpg' %}"
                                        alt="Sony PS 4 game controller"></a>
                                        <div class="cta shadow d-inline-block"></div>
                                </div>
                                <h6 class="text-center">
                                    <a class="reset-anchor" href="detail.html">Spectrum Analyzer</a>
                                </h6>
                                <p class="text-center text-muted font-weight-bold mb-4">신호 및 스펙트럼 분석기</p>
                            </div>
                            <div class="row">
                                <!-- Product-->
                                <div class="col-xl-3 col-lg-4 col-6">
                                    <div class="product mb-4">
                                        <span class="badge rounded-0 bg-primary"></span>
                                        <a href="detail.html">
                                            <img
                                                class="img-fluid"
                                                src="{% static 'img/products/index/sig.jpg' %}"
                                                alt="Round grey hanging decor"></a>
                                                <div class="cta shadow d-inline-block"></div>
                                        </div>
                                        <h6 class="text-center">
                                            <a class="reset-anchor" href="detail.html">Signal Generator</a>
                                        </h6>
                                        <p class="text-center text-muted font-weight-bold mb-4">신호 발생기</p>
                                    </div>
                                    <!-- Product-->
                                    <div class="col-xl-3 col-lg-4 col-6">
                                        <div class="product mb-4">
                                            <span class="badge rounded-0 bg-"></span>
                                            <a href="detail.html">
                                                <img
                                                    class="img-fluid"
                                                    src="{% static 'img/products/index/ntw.jpg' %}"
                                                    alt="silver black round Ipod"></a>
                                                    <div class="cta shadow d-inline-block"></div>
                                            </div>
                                            <h6 class="text-center">
                                                <a class="reset-anchor" href="detail.html">Network Analyzer</a>
                                            </h6>
                                            <p class="text-center text-muted font-weight-bold mb-4">네트워크 분석기</p>
                                        </div>
                                        <!-- Product-->
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <div class="product mb-4">
                                                <span class="badge rounded-0 bg-info"></span>
                                                <a href="detail.html">
                                                    <img
                                                        class="img-fluid"
                                                        src="{% static 'img/products/index/snd.jpg' %}"
                                                        alt="White USB cable"></a>
                                                        <div class="cta shadow d-inline-block"></div>
                                                </div>
                                                <h6 class="text-center">
                                                    <a class="reset-anchor" href="detail.html">Audio Analyzer</a>
                                                </h6>
                                                <p class="text-center text-muted font-weight-bold mb-4">오디오 분석기</p>
                                            </div>
                                            <!-- Product-->
                                            <div class="col-xl-3 col-lg-4 col-6">
                                                <div class="product mb-4">
                                                    <span class="badge rounded-0 bg-"></span>
                                                    <a href="detail.html">
                                                        <img
                                                            class="img-fluid"
                                                            src="{% static 'img/products/index/emc.jpg' %}"
                                                            alt="Sony PS 4 game controller"></a>
                                                            <div class="cta shadow d-inline-block"></div>
                                                    </div>
                                                    <h6 class="text-center">
                                                        <a class="reset-anchor" href="detail.html">EMC</a>
                                                    </h6>
                                                    <p class="text-center text-muted font-weight-bold mb-4">EMC</p>
                                                </div>
                                                <!-- Product-->
                                                <div class="col-xl-3 col-lg-4 col-6">
                                                    <div class="product mb-4">
                                                        <span class="badge rounded-0 bg-"></span>
                                                        <a href="detail.html">
                                                            <img
                                                                class="img-fluid"
                                                                src="{% static 'img/products/index/pnv.jpg' %}"
                                                                alt="Sony PS 4 game controller"></a>
                                                                <div class="cta shadow d-inline-block"></div>
                                                        </div>
                                                        <h6 class="text-center">
                                                            <a class="reset-anchor" href="detail.html">Power Meter</a>
                                                        </h6>
                                                        <p class="text-center text-muted font-weight-bold mb-4">파워센서</p>
                                                    </div>
                                                </div>
                                            </section><br><br>